<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Duel</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container" id="container">
        <table class="chess-board" id="chess-board">
        </table>
    </div>

    <script>
        let token = "{{ token }}"
    </script>
    <script src="static/chess.js"></script>
    <script src="static/bot.js"></script>
    <script src="static/script.js"></script>
</body>
</html>